:root{
    --corPrimaria: #7e2da7;
    --corEscura: #54236c;
    --corClara: #ebdcf1;  
}

.login{
    height: 100vh;
    display: flex;

    .info{
        background-color: var(--corPrimaria);
        height: 100%;
        width: 40%;
        gap: 40px;
        padding: 6rem;

        h1, h4{
            color: #fff;
        }
    }

    .formulario{
        background-color: #fff;
        height: 100%;
        width: 60%;
        gap: 40px;

        h1{
            color: var(--corEscura);
        }
        
        .formLogin{
            gap: 30px ;

            .formInput{
                background-color: #fff;
                width: 500px;

                padding: .8rem 1rem;
                display: flex;
                align-items: center;
                gap: 10px;
                box-shadow: 0 3px 3px -3px #444;

                input{
                    color: var(--corEscura);
                    width: 100%;
                    border: none;
                    font-size: 1rem;

                    &:focus{
                        outline: none;
                    }
                }
            }

            .impInfo{
                width: 100%;
                display: flex;
                justify-content: space-between;

                .formInput{
                    width: 240px;

                    input{
                        width: 100%;
                    }
                }
            }

            .link{
                color: var(--corEscura);
                align-self: flex-end;
                position: relative;

                p{
                    font-size: .8rem;
                }   

                p::after{
                    content: '';
                    height: 2px;
                    width: 0px;
                    position: absolute;
                    right: 0;
                    bottom: -5px;
                    transition: .3s;
                }

                &:hover p::after{
                    width: 100%;
                    background-color: var(--corEscura);
                }
            }
        }

        .btnForm{
            margin-top: 20px;
            padding: .8rem 3rem;
            border-radius: 10px;
            font-weight: 600;
            position: relative;
           

            &:hover{
                color: #fff;
                box-shadow: inset 0px 200px 0 var(--corPrimaria);
                transition: 1s;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .login{
        background-color: var(--corPrimaria);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .info{
            display: none;
        }
    
        .formulario{
            background-color: var(--corPrimaria);
            height: 100%;

            h1{
                color: var(--corClara);
            }
            
            .formLogin{
                gap: 30px ;
    
                .formInput{
                    border-radius: 5px;
                }

                .link{
                    color: var(--corClara);
                    align-self: flex-end;
                    position: relative;
    
                    p{
                        font-size: .8rem;
                    }   
    
                    p::after{
                        content: '';
                        height: 1px;
                        width: 0px;
                        position: absolute;
                        right: 0;
                        bottom: -5px;
                        transition: .3s;
                    }
    
                    &:hover p::after{
                        width: 100%;
                        background-color: var(--corClara);
                    }
                }
            }

            .btnForm{
                margin-top: 20px;
                padding: .8rem 3rem;
                border-radius: 10px;
                font-weight: 600;
                position: relative;
               
    
                &:hover{
                    color: var(--corEscura);
                    box-shadow: inset 0px 200px 0 var(--corClara);
                    transition: 1s;
                }
            }
        }
    }
}