:root {
  --corPrimaria: #7e2da7;
  --corEscura: #54236c;
  --corClara: #ebdcf1;
}

.login {
  height: 100vh;
  display: flex;
}
.login .info {
  background-color: var(--corPrimaria);
  height: 100%;
  width: 40%;
  gap: 40px;
  padding: 6rem;
}
.login .info h1, .login .info h4 {
  color: #fff;
}
.login .formulario {
  background-color: #fff;
  height: 100%;
  width: 60%;
  gap: 40px;
}
.login .formulario h1 {
  color: var(--corEscura);
}
.login .formulario .formLogin {
  gap: 30px;
}
.login .formulario .formLogin .formInput {
  background-color: #fff;
  width: 500px;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 3px 3px -3px #444;
}
.login .formulario .formLogin .formInput input {
  color: var(--corEscura);
  width: 100%;
  border: none;
  font-size: 1rem;
}
.login .formulario .formLogin .formInput input:focus {
  outline: none;
}
.login .formulario .formLogin .impInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.login .formulario .formLogin .impInfo .formInput {
  width: 240px;
}
.login .formulario .formLogin .impInfo .formInput input {
  width: 100%;
}
.login .formulario .formLogin .link {
  color: var(--corEscura);
  align-self: flex-end;
  position: relative;
}
.login .formulario .formLogin .link p {
  font-size: 0.8rem;
}
.login .formulario .formLogin .link p::after {
  content: "";
  height: 2px;
  width: 0px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  transition: 0.3s;
}
.login .formulario .formLogin .link:hover p::after {
  width: 100%;
  background-color: var(--corEscura);
}
.login .formulario .btnForm {
  margin-top: 20px;
  padding: 0.8rem 3rem;
  border-radius: 10px;
  font-weight: 600;
  position: relative;
}
.login .formulario .btnForm:hover {
  color: #fff;
  box-shadow: inset 0px 200px 0 var(--corPrimaria);
  transition: 1s;
}

@media screen and (max-width: 1100px) {
  .login {
    background-color: var(--corPrimaria);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login .info {
    display: none;
  }
  .login .formulario {
    background-color: var(--corPrimaria);
    height: 100%;
  }
  .login .formulario h1 {
    color: var(--corClara);
  }
  .login .formulario .formLogin {
    gap: 30px;
  }
  .login .formulario .formLogin .formInput {
    border-radius: 5px;
  }
  .login .formulario .formLogin .link {
    color: var(--corClara);
    align-self: flex-end;
    position: relative;
  }
  .login .formulario .formLogin .link p {
    font-size: 0.8rem;
  }
  .login .formulario .formLogin .link p::after {
    content: "";
    height: 1px;
    width: 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    transition: 0.3s;
  }
  .login .formulario .formLogin .link:hover p::after {
    width: 100%;
    background-color: var(--corClara);
  }
  .login .formulario .btnForm {
    margin-top: 20px;
    padding: 0.8rem 3rem;
    border-radius: 10px;
    font-weight: 600;
    position: relative;
  }
  .login .formulario .btnForm:hover {
    color: var(--corEscura);
    box-shadow: inset 0px 200px 0 var(--corClara);
    transition: 1s;
  }
}/*# sourceMappingURL=login.css.map */