:root {
  --corPrimaria: #7e2da7;
  --corEscura: #54236c;
  --corClara: #ebdcf1;
}

.cadastro {
  height: 100vh;
  display: flex;
}
.cadastro .info {
  background-color: var(--corPrimaria);
  height: 100%;
  width: 40%;
  gap: 40px;
  padding: 6rem;
}
.cadastro .info h1, .cadastro .info h4 {
  color: #fff;
}
.cadastro .formulario {
  background-color: #fff;
  height: 100%;
  width: 60%;
  gap: 40px;
}
.cadastro .formulario h1 {
  color: var(--corEscura);
}
.cadastro .formulario .formCad {
  gap: 30px;
}
.cadastro .formulario .formCad .formInput {
  background-color: #fff;
  width: 500px;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 3px 3px -3px #444;
}
.cadastro .formulario .formCad .formInput input {
  color: var(--corEscura);
  width: 100%;
  border: none;
  font-size: 1rem;
}
.cadastro .formulario .formCad .formInput input:focus {
  outline: none;
}
.cadastro .formulario .formCad .impInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cadastro .formulario .formCad .impInfo .formInput {
  width: 240px;
}
.cadastro .formulario .formCad .impInfo .formInput input {
  width: 100%;
}
.cadastro .formulario .formCad .link {
  color: var(--corEscura);
  align-self: flex-end;
  position: relative;
}
.cadastro .formulario .formCad .link p {
  font-size: 0.8rem;
}
.cadastro .formulario .formCad .link p::after {
  content: "";
  height: 1px;
  width: 0px;
  position: absolute;
  right: 0;
  bottom: -5px;
  transition: 0.3s;
}
.cadastro .formulario .formCad .link:hover p::after {
  width: 100%;
  background-color: var(--corEscura);
}
.cadastro .formulario .btnForm {
  margin-top: 20px;
  padding: 0.8rem 3rem;
  border-radius: 10px;
  font-weight: 600;
  position: relative;
}
.cadastro .formulario .btnForm:hover {
  color: #fff;
  box-shadow: inset 0px 200px 0 var(--corPrimaria);
  transition: 1s;
}

@media screen and (max-width: 1100px) {
  .cadastro {
    background-color: var(--corPrimaria);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cadastro .info {
    display: none;
  }
  .cadastro .formulario {
    background-color: var(--corPrimaria);
    height: 100%;
  }
  .cadastro .formulario h1 {
    color: var(--corClara);
  }
  .cadastro .formulario .formCad {
    gap: 30px;
  }
  .cadastro .formulario .formCad .formInput {
    border-radius: 5px;
  }
  .cadastro .formulario .formCad .link {
    color: var(--corClara);
    align-self: flex-end;
    position: relative;
  }
  .cadastro .formulario .formCad .link p {
    font-size: 0.8rem;
  }
  .cadastro .formulario .formCad .link p::after {
    content: "";
    height: 1px;
    width: 0px;
    position: absolute;
    right: 0;
    bottom: -5px;
    transition: 0.3s;
  }
  .cadastro .formulario .formCad .link:hover p::after {
    width: 100%;
    background-color: var(--corClara);
  }
  .cadastro .formulario .btnForm {
    margin-top: 20px;
    padding: 0.8rem 3rem;
    border-radius: 10px;
    font-weight: 600;
    position: relative;
  }
  .cadastro .formulario .btnForm:hover {
    color: var(--corEscura);
    box-shadow: inset 0px 200px 0 var(--corClara);
    transition: 1s;
  }
}/*# sourceMappingURL=cadastro.css.map */