$corPrimaria: #7e2da7;
$corEscura: #54236c;
$corClara: #ebdcf1;  
$corRosa: #e53f71;
$corBranco: #fff;
$degrade: linear-gradient(to left, #7e2da7, #e53f71);

.home{
    min-height: 100vh;
    display: flex; 

    .container{
        width: 100%;
    }
}