$corPrimaria: #7e2da7;
$corEscura: #54236c;
$corClara: #ebdcf1;  
$corRosa: #e53f71;
$corBranco: #fff;
$degrade: linear-gradient(to left, #7e2da7, #e53f71);

.header__home{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 1rem 2rem;

    &__btn__criar{
        background: $degrade;
        color: $corBranco;
        padding: .5rem 1rem;
        border-radius: 5px;
    }
}