$corPrimaria: #7e2da7;
$corEscura: #54236c;
$corClara: #ebdcf1;  
$corRosa: #e53f71;
$corBranco: #fff;
$degrade: linear-gradient(to left, #7e2da7, #e53f71);

.header__form{
    padding: 1.5rem 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    
    &__logo{
        display: flex;
        color: #fff;
    }

    &__nav{

    }
    
    &__list{
        display: flex;
        gap: 3rem;
    }

    &__items{
        
        &__link{
            position: relative;
            color: $corClara;
        }

        &__link::after{
            content: '';
            height: 2px;
            width: 0px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -5px;
            transition: .3s;
        }

        &:hover a::after{
            width: 100%;
            background-color: $corClara;
        }
    }     
}

@media screen and (max-width: 580px) {
    
}